version: "3.9"

services:
  app:
    build: .
    container_name: laravel_record_app
    volumes:
      - .:/var/www/html
    ports:
      - "5000:80"
    depends_on:
      - db
    env_file:
      - .env
    entrypoint: ["/entrypoint.sh"]

  db:
    image: mysql:8.0
    container_name: laravel_record_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
